<!DOCTYPE html>
<html>
    <head>
        <style>
            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            }

            li {
            float: left;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a class="btn" href="{{site.baseurl}}/">Home</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/Models.html">Models</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/ROSMAP%20Microglia.html">ROSMAP Microglia</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/ROSMAP%20Astrocyte.html">ROSMAP Astrocyte</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/MSBB%20FP.html">MSBB FP</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/MSBB%20IFG.html">MSBB IFG</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/MSBB%20PHG.html">MSBB PHG</a></li>
            <li><a class="btn" href="{{site.baseurl}}/APOE%20Genotype%20Analysis/MSBB%20STG.html">MSBB STG</a></li>
            <li><a class="btn" href="{{site.baseurl}}/qPCR%20Analysis/APOE%20qPCR%20Analysis.html">E2/E3/E4 qPCR</a></li>
            <li><a class="btn" href="{{site.baseurl}}/qPCR%20Analysis/LPS%20qPCR%20Analysis.html">LPS vs. PBS E3/E4 qPCR</a></li>
        </ul>
    </body>
</html>